<status-panel [ngClass]="{'isOpenedStatusPanel' : isOpenedStatusPanel}" [isOpened]="isOpenedStatusPanel" (change)="isOpenedStatusPanel = !isOpenedStatusPanel"></status-panel>
<div>
	<md-input-container>
		<input mdInput placeholder="New column (enter to submit)" #newColumn (keyup.enter)="addColumn(newColumn.value);newColumn.value = ''">
	</md-input-container>
</div>
<div class="board" [sortablejs]="columns" [sortablejsOptions]="options">
	<column [filtersData]="formData" (columnFiltersChanged)="setColumn($event)" (columnRemoved)="removeColumn($event)" *ngFor="let column of columns" [columnData]="column"></column>
</div> 