:host{
    flex: 1;
    padding: 15px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}
:host > div{
	height: 100%;
};

:host >>> div > column:last-child > div{
	margin-right:  0;
}
