<div>
	<i class="fa list-toggle-button" (click)="listVisible = !listVisible" [ngClass]="listVisible ? 'fa-chevron-circle-up' : 'fa-chevron-circle-down'" aria-hidden="true"></i>
	<md-input-container >
	   <input autocomplete="off" type="text" [placeholder]="customPlaceholder" [(ngModel)]="searchValue" (input)="search(searchValue);listVisible = true" mdInput>
	</md-input-container>
	<div class="select-box-wrapper" [hidden]="!listVisible">
		<div class="select-item" [title]="item.name" (click)="selectItem(item)" *ngFor="let item of filteredItems">
			{{item.name}}
		</div>
		<div *ngIf="filteredItems.length === 0" class="select-item disabled">
			No items founded
		</div>
	</div>	
</div>
