.authorization-form{
	width: 40%;
	width: 400px;
	height: 300px;
	display: flex;
	flex-direction: column;
	border: 1px solid;
    border-radius: 5px;
    overflow: hidden;
	margin: auto;
}

.authorization-form > .authorization-form-header{
	height: 56px;
	width: 100%;
	justify-content: flex-start;
	align-items: center;
	text-transform: capitalize;
	font-size: 14px;
	padding-left : 15px;
	display: flex;
}

.authorization-form > .authorization-form-body{
	width: 100%;
	flex-direction: column;
	flex: 1;
	display: flex;
	justify-content: space-around;
	padding : 15px;
}
.authorization-form > .authorization-form-body > .inputs{
	display: flex;
	flex-direction: column;
}
.authorization-form > .authorization-form-body > .actions-buttons-row{
	height: 40px;
}
.authorization-form > .authorization-form-body > .actions-buttons-row button[md-mini-fab]{
	float: right;
}
.authorization-form > .authorization-form-body > .actions-buttons-row button[md-raised-button]{
	height: 100%;
}