/* main items styles*/
body{
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
	font-weight: 400;
	overflow : hidden;
}
body, html{
	width: 100%;
	height: 100%;
	margin : 0;
	padding: 0;
}

body *{
	box-sizing: border-box;
}

app-root > router-outlet + *{
	width: 100%;
	display: flex;
    position: absolute;
    background: rgb(244, 250, 255);
    bottom: 0;
    top: 64px;
}

ul{
	list-style: none;
	margin : 0;
	padding: 0;
}
/*material styles overriding*/
.cdk-overlay-container .mat-dialog-container{
	box-shadow: none;
	background: transparent;
}

@media (max-width: 600px){
	.mat-toolbar-row {
	    min-height: 64px;
	}
}

.mat-simple-snackbar-message:first-letter{
	text-transform: capitalize;
}

/* Let's get this party started */
::-webkit-scrollbar {
    width: 10px;
    height: 13px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background: rgb(63, 81, 181); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgb(132, 178, 255); 
}

input[type="date"]::-webkit-inner-spin-button{
    display: none;
}