/* main items styles*/
body{
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
	font-weight: 400;
}
body, html{
	width: 100%;
	height: 100%;
	margin : 0;
	padding: 0;
}

body *{
	box-sizing: border-box;
}

router-outlet + *{
	width: 100%;
	display: flex;
    position: absolute;
    background: #E1F5FE;
    bottom: 0;
    top: 64px;
}
/*material styles overriding*/
.cdk-overlay-container .mat-dialog-container{
	box-shadow: none;
	background: transparent;
}

@media (max-width: 600px){
	.mat-toolbar-row {
	    min-height: 64px;
	}
}

.mat-simple-snackbar-message:first-letter{
	text-transform: capitalize;
}