<div>
	<ul class="companies">
		<div class="inner">
			<header>
				Companies
			</header>
			<main *ngIf="companies">	
				<md-input-container class="new-item-input">
				  <input mdInput placeholder="New company (enter to submit)" #newCompany (keyup.enter)="addCompany(newCompany);newCompany.value = ''">
				</md-input-container>
				<li (click)="toggleItem(company, 'selectedCompany')" [ngClass]="{active : selectedCompany?.id === company.id}" *ngFor="let company of companies">
					{{company.name}} 
					<div class="icons">
						<i class="fa fa-times" (click)="removeItem($event, company.id, 'selectedCompany', 'removeCompany', companies)" aria-hidden="true"></i>				
						<i *ngIf="selectedCompany?.id === company.id" class="fa fa-arrow-right" aria-hidden="true"></i>		
					</div>
				</li>
			</main>
		</div>
	</ul>
	<ul class="vacancies">
		<div class="inner">
			<header>
				Vacancies
			</header>		
			<main *ngIf="selectedCompany">	
				<md-input-container class="new-item-input">
				  <input mdInput placeholder="New vacancy (enter to submit)" #newVacancy (keyup.enter)="addVacancy(newVacancy);newVacancy.value = ''">
				</md-input-container>		
				<li (click)="toggleItem(vacancy, 'selectedVacancy', true)" [ngClass]="{active : selectedVacancy?.id === vacancy.id}" *ngFor="let vacancy of selectedCompany.vacancies">
					{{vacancy.name}}
					<div class="icons">
						<i class="fa fa-times" (click)="removeItem($event, vacancy.id, 'selectedVacancy', 'removeVacancy', selectedCompany.vacancies)" aria-hidden="true"></i>		
						<i *ngIf="selectedVacancy?.id === vacancy.id" class="fa fa-arrow-right" aria-hidden="true"></i>				
					</div>
				</li>		
			</main>
		
		</div>
	</ul>
	<div class="selected-vacancy" *ngIf="currentVacancy">
		<div class="inner">
			<header>
				{{currentVacancy.name}}
			</header>
			<main>	
				<form #vacancyForm="ngForm" (submit)="saveVacancy(vacancyForm, currentVacancy)">
					<div>
				 		<md-input-container>
			    			<textarea [(ngModel)]="currentVacancy.description" id="description" name="description" required mdInput placeholder="Description"></textarea>
			    		</md-input-container>	
					</div>
			   		<div>	
				    	<md-input-container>
				    		<input [(ngModel)]="currentVacancy.salary" id="salary" name="salary" required mdInput placeholder="Salary">
				    	</md-input-container>	
					</div>
				 	<div>    
				    	<md-input-container>
				    		<input [(ngModel)]="currentVacancy.neededExperienceYears" id="experience" required name="experience" mdInput placeholder="Experience">
				    	</md-input-container>
			   		</div>
				    <multiselect [selectedItems]="currentVacancy.languages" (modelChange)="languagesChanged($event)" [items]="formData.languages" [customPlaceholder]="'Languages'"></multiselect>
				   	<multiselect [selectedItems]="currentVacancy.skills" (modelChange)="skillsChanged($event)" [items]="formData.skills" [customPlaceholder]="'Skills'"></multiselect>
				   	<multiselect [selectedItems]="currentVacancy.additionalSkills" (modelChange)="additionalSkillsChanged($event)" [items]="formData.skills" [customPlaceholder]="'Additional Skills'"></multiselect>
					<button type="submit" md-raised-button color="primary" [disabled]="vacancyForm.form.invalid">Save</button>
				</form>
			</main>
		</div>
	</div>
</div>