.example-spacer {
  flex: 1 1 auto;
}

md-toolbar > .mat-toolbar-layout{
	height: 55px !important;
}

.mat-toolbar-row{
	height: 100%;
}

.main-title{
    color: #c5cbef;
    font-weight: 200;
    min-width: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-style: italic;
}

.main-title > span{
	color: white;
}