.profile-img{
	width: 40px;
    height: 40px;
    border-radius: 9px;
    padding: 4px;
}

.username{
	text-transform: capitalize;
	font-style: italic;
}

i.fa-address-card, i.fa-sign-out{
	font-size: 18px;
}