.errors{
    position: fixed;
    z-index: 9999;
    bottom: 5px;
    left: 5px;
    background: transparent;
}

.one-error{
    position: relative;
    max-width: 220px;
    min-width: 220px;
    display: block;
    min-height: 38px;
    border: 0;
    border-left: 4px solid rgb(103, 0, 0);
    margin-top: 2%;
    color: white;
    background: rgba(145, 0, 0, 0.68);
    padding: 4px;
    transition: 0.3s linear border-left;
}

.one-error .header-text{
    display: inline-block;
    width:190px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.one-error:hover{
    border-left-color: #C48686;
}
.one-error .header-block:after{
    content: '';
    display: block;
    clear: both;
}

.one-error .header-block .glyphicon{
    float:right;
    color: #CFCFCE;
    transition: 0.3s linear all;
}

.one-error .header-block .glyphicon:hover{
    color: white;
    cursor: pointer;
}
.one-error .body-block {
    min-height: 35px;
    padding-top: 9px;
    max-width: 100%;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
}

.one-error .header-block {
    border-bottom: 1px solid #C16A6A;
}
