<form class="profile-form">
	<header [hidden]="!currentUser.name">
		{{currentUser.name}}'s profile
	</header>
	<main>

		<img class="avatar" [src]="getProfileAvatar(currentUser.avatarUrl)" [alt]="currentUser.name">
		<md-input-container>
	    	<input mdInput placeholder="First name">
	    </md-input-container>
	    <md-input-container>
	    	<input mdInput placeholder="Last name">
	    </md-input-container>
	    <md-input-container>
	    	<input mdInput placeholder="Patronomic">
	    </md-input-container>	    

		<section class="example-section">
			<label class="example-margin">Gender:</label>
			<md-radio-group>
				<md-radio-button value="man">
				  Male
				</md-radio-button>
				<md-radio-button value="woman">
				  Female
				</md-radio-button>
			</md-radio-group>
		</section>

		<md-input-container>
	    	<input type="date" mdInput placeholder="Birthday">
	    </md-input-container>	

	    <md-input-container>
		  <input mdInput placeholder="Country" [mdAutocomplete]="auto">
		</md-input-container>

		<md-autocomplete #auto="mdAutocomplete">
		  <md-option *ngFor="let state of formData.countries" [value]="state">
		    {{ state }}
		  </md-option>
		</md-autocomplete>

		<md-input-container>
		  <input mdInput placeholder="City" [mdAutocomplete]="auto">
		</md-input-container>

		<md-autocomplete #auto="mdAutocomplete">
		  <md-option *ngFor="let state of formData.cities" [value]="state">
		    {{ state }}
		  </md-option>
		</md-autocomplete>

	</main>
	<footer>
		<button md-raised-button color="warn">Reset</button>
		<button md-raised-button color="accent">Save</button>
	</footer>
</form>