<form class="profile-form">
	<header [hidden]="!currentUser.name">
		{{currentUser.name}}'s profile
	</header>
	<main>

		<img class="avatar" [src]="getProfileAvatar(currentUser.avatarUrl)" [alt]="currentUser.name">
		<md-input-container>
	    	<input required mdInput placeholder="First name">
	    </md-input-container>
	    <md-input-container>
	    	<input required mdInput placeholder="Last name">
	    </md-input-container>
	    <md-input-container>
	    	<input required mdInput placeholder="Patronomic">
	    </md-input-container>	

	    <md-input-container>
	    	<input mdInput placeholder="Skype">
	    </md-input-container>	

	   	<md-input-container>
	    	<input required type="email" mdInput placeholder="E-mail">
	    </md-input-container>	

	    <md-input-container>
	    	<input required type="tel" mdInput placeholder="phone">
	    </md-input-container>	

		<section class="example-section">
			<label class="example-margin">Gender:</label>
			<md-radio-group required>
				<md-radio-button value="man">
				  Male
				</md-radio-button>
				<md-radio-button value="woman">
				  Female
				</md-radio-button>
			</md-radio-group>
		</section>

		<md-input-container>
	    	<input type="date" required mdInput placeholder="Birthday">
	    </md-input-container>	
	    <div *ngIf="formData.countries">
		    <custom-autocomplete [items]="formData.countries" [customPlaceholder]="'Country'"></custom-autocomplete>	    	
	    </div>

	</main>
	<footer>
		<button md-raised-button color="warn">Reset</button>
		<button md-raised-button color="accent">Save</button>
	</footer>
</form>