<header>
	<span class="name">
		{{info.name}}
	</span>
	<span class="actions">
		<!--<i title="Invite for an interview" class="fa fa-check-circle-o" aria-hidden="true"></i>-->
		<i title="Add to favorites" class="fa" (click)="toggleFavorite(info)" [ngClass]="info.isFavorited ? 'fa-star' : 'fa-star-o'" aria-hidden="true"></i>
	</span>
</header>
<main>
	<span class="description" [hidden]="!info.description">
		{{info.description}},
	</span>
	<span class="username" [hidden]="!info.firstName">
		{{info.firstName}},
	</span>
	<span class="salary" [hidden]="!info.wantedSalary">
		{{info.wantedSalary}} $ salary,
	</span>
	<span class="careerStartDate" [hidden]="info?.careerStartDate === undefined">
		{{info.careerStartDate | date}} start date
	</span>
</main>
