<div>
	<ul class="cvs">
		<div class="inner">
			<header>
				Cvs
			</header>
			<main *ngIf="favorites.cvs">	
				<li (click)="toggleItem(cv, 'cv')" [ngClass]="{active : currentItem?.id === cv.cvId && currentItem?.type == 'cv'}" *ngFor="let cv of favorites.cvs">
					{{cv.name}} 
					<div class="icons">
						<i class="fa fa-times" (click)="removeItem($event, cv.id, 'cvs')" aria-hidden="true"></i>				
						<i *ngIf="currentItem?.id === cv.id" class="fa fa-arrow-right" aria-hidden="true"></i>		
					</div>
				</li>
			</main>
		</div>
	</ul>
	<ul class="vacancies">
		<div class="inner">
			<header>
				Vacancies
			</header>		
			<main *ngIf="favorites.vacancies">	
				<li (click)="toggleItem(vacancy, 'vacancy')" [ngClass]="{active : currentItem?.id === vacancy.vacancyId  && currentItem?.type == 'vacancy'}" *ngFor="let vacancy of favorites.vacancies">
					{{vacancy.name}}
					<div class="icons">
						<i class="fa fa-times" (click)="removeItem($event, vacancy.id, 'vacancies')" aria-hidden="true"></i>		
						<i *ngIf="currentItem?.id === vacancy.id" class="fa fa-arrow-right" aria-hidden="true"></i>				
					</div>
				</li>		
			</main>
		
		</div>
	</ul>
	<div class="selected-item" *ngIf="currentItem.id">
		<div class="inner">
			<header>
				{{currentItem.name}}
			</header>
			<main>
				<table>
					<tbody>
						<tr>
							<td>Description:</td>
							<td>{{currentItem.description || 'N/A'}}</td>
						</tr>
						<tr>
							<td>Salary:</td>
							<td>{{currentItem.salary || currentItem.wantedSalary || 'N/A'}} $</td>
						</tr>
						<tr [hidden]="!currentItem.neededExperienceYears">
							<td>Experience:</td>
							<td>{{currentItem.neededExperienceYears || 'N/A'}} years</td>
						</tr>
						<tr [hidden]="!currentItem.careerStartDate">
							<td>Experience:</td>
							<td>{{currentItem.careerStartDate | date : "dd-mm-yyyy" || 'N/A'}}</td>
						</tr>
						<tr>
							<td>Skills:</td>
							<td>{{getNamesArray(currentItem.skills) || 'N/A'}}</td>
						</tr>
						<tr>
							<td>Additional Skills:</td>
							<td>{{getNamesArray(currentItem.additionalSkills) || 'N/A'}}</td>
						</tr>
						<tr>
							<td>Languages:</td>
							<td>{{getNamesArray(currentItem.languages) || 'N/A'}}</td>
						</tr>
					</tbody>
				</table>
			</main>
		</div>
	</div>
</div>