.authorization-form{
	border-color: rgb(2, 136, 209);
	background-color: #B3E5FC;
}

.authorization-form > .authorization-form-header{
	background: #0288D1;
	color : white;
}

.authorization-form > .authorization-form-body > .actions-buttons-row button[md-raised-button]{
	width : 100%;
}