<form class="modal-component" #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm.form.valid)">
	<div class="modal-component-header">
		Sign form
	</div>
	<div class="modal-component-body">
		<div class="inputs">
			<md-input-container>
		  		<input mdInput placeholder="username" [(ngModel)]="user.name" id="username" name="username" required>
			</md-input-container>
			<md-input-container>
		  		<input type="password" mdInput placeholder="password" [(ngModel)]="user.password" id="password" name="password" required>
			</md-input-container>				
		</div>
		<div class="actions-buttons-row">
    		<button type="submit" [disabled]="!loginForm.form.valid" color="accent" md-raised-button>Sign In</button>
    		<button type="button" color="primary" md-mini-fab title="Sign Up" (click)="openSignUpDialog()">
    			<i class="fa fa-user-plus" aria-hidden="true"></i>
    		</button>
		</div>	
	</div>
</form>